
.haibao{
    width: 7.50rem;
    height: 4.91rem;
}
.hdgz{
    position: fixed;
    left:6.12rem;
    top:.26rem;
    background: rgba(255,255,255,.3);
    height: .46rem;
    width: 1.38rem;
    border-radius: 50px 0px 0 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    font-size: .26rem;
    padding-left:.20rem ;
    color: white;
}
.haoma{
    height: .85rem;
    width: 100vw;
    border-top: 1px solid #f6d9e3;
    border-bottom:1px solid #f6d9e3 ;
    font-size: .28rem;
    color: #f6d9e3;
    padding-left: .16rem;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #f6d9e3;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #f6d9e3;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #f6d9e3;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #f6d9e3;
}

.box{
    margin-top: .46rem;
    padding: 0 .2rem;
    width: 100%;
}

.box>label{
    width: 1.68rem;
    height: 1.1rem;
    font-size: .32rem;
    color: #353535;
    border: 1px solid #fb9ac7;
    border-radius: 8px;
}
.box>label.on{

    background:#fb9ac7 ;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(232,120,172,1);
}

img.heart{
    width: .27rem;
    margin-right: .04rem;
    display: none;
}

input.money{
    display: none;
    width: 100%;
    padding:  0 .14rem;
}
.box>label.first.on>img.heart{
    display: block;
}
.box>label.last.on>input.money{
    display: block;
    background:#fb9ac7 ;
    text-align: center;

}
.box>label.last.on>span{
    display: none;

}

.box2{
    margin-top: .46rem;
    width: 100%;
    height: 1.73rem;
    border-top: 1px solid #ffe5f3;
    border-bottom: 1px solid #ffe5f3;
}
.box2-1{
    padding: 0 .20rem;
    height: .85rem;
}
.box2-bb{
    border-bottom: 1px solid #ffe5f3;
}
.weixing{
    width: .51rem;
    margin-right: .26rem;
}
.wxzf{
    font-size: .28rem;
    color: #353535;
}
.yuan{
    width: .33rem;
    height: .33rem;
    border: 1px solid #ffe5f3;
    border-radius: 50%;
}
img.heart2{
    width: .33rem;
    display: none;
}
.box2>div.box2-1.first2.on2>img.heart2{
    display: block;
}
.box2>div.box2-1.first2.on2>div.yuan{
    display: none;
}
.ljzf{
    padding: 0 .2rem;
    margin-top: .52rem;
}
.ljzfan{
    width: 100%;
    height: .88rem;
    border-radius: .15rem;
    background: #fb9ac7;
    font-size: .30rem;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(232,120,172,1);
}

/*活动规则弹窗  开始*/
.tmbj{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;

}
.wbk{
    width: 80vw;
    height: 55vh;
    background: white;
    padding: .47rem .50rem;
    border-radius: .35rem;
}
.hdgzwz{
    width: 5.54rem;
}
.hdgz-span{
    font-size: .26rem;
    color: #f7699e;
    line-height: .37rem;
}
.mt-1{
    margin-top: .6rem;
}
.tkyc{
    display: none;
}
.zdlan{
    width: 100%;
    height: .88rem;
    border-radius: .15rem;
    background: #fb9ac7;
    font-size: .30rem;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(232,120,172,1);
}
/*活动规则弹窗  结束*/




/*输入手机号码开始*/

.tmbj-2{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
}
.wbk-2{
    width: 80vw;
    background: white;
    border-radius: .35rem;
}
.haoma2{
    height: .85rem;
    width: 80%;
    border: 1px solid #f6d9e3 ;
    border-radius: .15rem;
    font-size: .28rem;
    color: #f6d9e3;
    padding-left: .16rem;
    margin-top: .37rem;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #f6d9e3;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #f6d9e3;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #f6d9e3;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #f6d9e3;
}
.sjhm-span{
    width: 80%;
    font-size: .28rem;
    color: #f7699e;
    margin-top: .19rem;
    margin-bottom: .47rem;
}
.anniu{
    width: 100%;
}
.anniu1{
    height: 1.2rem;
    width: 50%;
    font-size: .30rem;
    color: white;
    background: #cbcbcb;
}
.anniu2{
    height: 1.2rem;
    width: 50%;
    font-size: .30rem;
    color: white;
    background: #fb9ac7;
}

/*输入手机号码结束*/



/*充值成功开始*/

.czcg-span{
    height: 1.76rem;
    width: 90vw;
    background: #fbdce6;
    padding: .24rem;
    font-size: .28rem;
    color: #d16284;
    border-radius: .15rem;
}
.czcg-fasong{
    width: 90vw;
    height: .88rem;
    border: 2px dashed #fb9ac7;
    border-radius: .15rem;
    margin-top: .65rem;
}
.czcg-fasong>img{
    width: 4.82rem;
}
.czcg-span2{
    font-size: .26rem;
    color: #d16284;
    margin-top: .58rem;
}
/*充值成功结束*/


/*为爱充值  开始*/

.haibao{
    width: 7.50rem;
    height: 4.91rem;
}

.erweima{
    width: 7.50rem;
    height: 5.38rem;
}
.mt-2{
    margin-top: .4rem;
    padding: 0 .2rem;
}

/*为爱充值  结束*/







